<div class="row">
    <div class="col">
        <button class="btn btn-info" (click)="calculateAddition()">Addition</button>
    </div>
    <div class="col">
        <button class="btn btn-info" (click)="calculateSubstraction()">Substraction</button>
    </div>
    <div class="col">
        <button class="btn btn-info" (click)="calculateMultiplication()">Multiplication</button>
    </div>
    <div class="col">
        <button class="btn btn-info" (click)="calculateDivision()">Division</button>
    </div>
</div>
