/* You can add global styles to this file, and also import other style files */

.side-menu li a {
    color: #000;
    text-decoration: none;
}

.side-menu li a :hover{
    background: rgb(194, 194, 244);
    color: blue;
}